{% extends 'base.html.twig' %}
{% block title %}
    Knp Taste - About us
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">Proudly developed by the KNP Labs Team</h1>
        </div>
    </div>
{% endblock %}